[Unit]
Description=User Initialization
After=graphical.target
ConditionPathExists=%h/.dotconfig/misc/init.sh

[Service]
ExecStart=%h/.dotconfig/misc/init.sh
#Restart=always

[Install]
WantedBy=multi-user.target
