[Unit]
Description=User Initialization
ConditionPathExists=%h/dotfiles/init/init.sh

[Service]
ExecStart=%h/dotfiles/init/init.sh
Restart=on-failure
RestartSec=5

# TODO make it run only after xorg
[Install]
WantedBy=default.target
