#/etc/systemd/system/xinit@.service
#sudo systemctl enable xinit@$USER.service
#sudo systemctl start xinit@$USER.service
#sudo systemctl stop xinit@$USER.service

[Unit]
Description=Executes the user x init script 
After=display-manager.target 

[Service]
User=%i
WorkingDirectory=/home/%i
Type=oneshot
Slice=user-%i.slice
RemainAfterExit=yes
ExecStart=/bin/bash -alc 'id'

[Install]
WantedBy=display-manager.target 
Alias=xinit@%i.service
